[Unit]
Description=REMIX Full Node
After=network.target

[Service]
User=remix
Group=remix
WorkingDirectory=~
RuntimeDirectory=remix

Type=forking
PIDFile=/run/remix/remixd.pid

ExecStart=/usr/bin/remixd --config-file /etc/remixd.conf \
    --detach --pidfile /run/remix/remixd.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
