[Unit]
Description=EPOCH Full Node
After=network.target

[Service]
User=epoch
Group=epoch
WorkingDirectory=~
RuntimeDirectory=epoch

Type=forking
PIDFile=/run/epoch/epochd.pid

ExecStart=/usr/bin/epochd --config-file /etc/epochd.conf \
    --detach --pidfile /run/epoch/epochd.pid

Restart=always
PrivateTmp=true

[Install]
WantedBy=multi-user.target
